/*full body background*/
body {
  padding-top: 40px;
  /*The ../ is necessary */
  background-image: url('../img/bg.png');
  background-position: left 40px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #C0DEED;

}

/*main content area*/
.main {
  background-color: rgba(255,255,255,0.3);
}

/*White boxes*/
.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #C2C2C2;
  border-radius: 6px;
  padding: 5px 0px;
  margin: 15px;

}
.box-left {
  margin-right: 0px;
}
.box-right {
  margin-left: 0px;
}

/* elements in stream underlined, displayed side-by-side */
.list, h4 {
  border-bottom: 1px solid #DEDEDE;
}

h4, h5, .list, .hashtags {
  margin: 0px;
  padding: 10px;
}

.smallProfile {
  float: left;
}
.smallProfile {
  margin: 3px 8px 0px 0px;
  width: 50px;
}

.miniatureProfile {
  width: 30px;
  float: left;
  margin: 5px;
}

.largeProfile {
  width: 100px;
}

.timestamp {
  color: #BFBFBF;
}