body {
  padding-top: 40px;
  /*The ../ is necessary */
  background-image: url('../img/bg.png');
  background-position: left 40px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #C0DEED;

}

.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #C2C2C2;
  border-radius: 6px;
  padding: 5px 15px;
}

.box-left {
  margin: 15px 0px 15px 15px;
}

.box-right {
  margin: 15px 15px 15px 0px;
}

.main {
  background-color:rgba(211,232,242,0.5);
}

h4 {
  padding-bottom: 15px;
  border-bottom: 1px solid #C2C2C2;
}